// Color Variables
$color-bg:       #F8F7F3; // bg-color
$color-text:     #1C1C1C; // primary text
$color-accent:   #BFA76F; // gold accent
$color-muted:    #C5C4BE; // lines and borders
$color-soft:     #6E7C7C; // highlight
$color-charcoal: #2C2B28; // dark-bg


// Font Variables
$font-heading: "Libre Baskerville", serif;
$font-body: "Manrope", sans-serif;

// Layout Variables
$nav-height: 4rem;


//Common Values
$radius-round: 950px;
$fast-transition: 0.2s ease;

// Breakpoints
$breakpoint-sm: 768px;
$breakpoint-large: 1024px;