// Color Variables
$color-bg: #f8f7f3; // bg-color
$color-text: #1c1c1c; // primary text
$color-accent: #826727; // gold accent
$color-muted: #6f695c; // lines and borders
$color-soft: #5e6b6b; // highlight
$color-charcoal: #2c2b28; // dark-bg

// Font Variables
$font-heading: 'Libre Baskerville', serif;
$font-body: 'Manrope', sans-serif;

// Layout Variables
$nav-height: 4rem;

//Common Values
$radius-round: 950px;
$fast-transition: 0.2s ease;

// Breakpoints
$breakpoint-sm: 768px;
$breakpoint-large: 1024px;

:root {
  --bg-main: #f8f7f3;
  --text-main: #1c1c1c;
  --accent-gold: #826727;
  --text-muted: #6f695c;
  --highlight: #5e6b6b;
  --dark-bg: #2c2b28;
  --font-heading: 'Libre Baskerville', serif;
  --font-body: 'Manrope', sans-serif;
}
